body, html,h1{
	margin: 0px;
	padding: 0px;
}

#main{
	margin: 1em auto;
	width: 960px;
	background: #FF5050;
	padding: 1.5em;
	overflow: hidden;
}

header h1{
	font-family: corbel, arial, sans-serif;
	font-size:3em;
	text-align: center;
}

article p{
	font-family: corbel, arial, sans-serif;
	font-size: 1em;
	text-align: justify;
}


 section#twocolumn{
 	overflow: hidden;
 }

section .leftcolumn{
	width: 46%;
	background: #505050;
	overflow: hidden;
	float: left;
	padding: 1em;
	border-radius: 3px;
}

section .leftcolumn h2{
	font-size: 2.5em;
	color: #FFFFFF;
	text-align: center;
}

section .leftcolumn p{
	font-size: 1em;
	color: #FFFFFF;
}

section .rightcolumn{
	width: 46%;
	background: #505050;
	overflow: hidden;
	float: right;
	padding: 1em;
	border-radius: 3px;
}

section .rightcolumn h2{
	font-size: 2.5em;
	color: #FFFFFF;
	text-align: center;
}

section .rightcolumn p{
	font-size: 1em;
	color: #FFFFFF;
}


footer{
	clear: both;
	padding: 1em;
	background-color: #202020;
	overflow: hidden;
	margin-top: 1em;
	text-align: center;
	color: #FFFFFF;
}

